body{color: black; font-family: 'Roboto', sans-serif;
}

h1, h2, h3,{font-family: 'Lato', sans-serif;

}

h1{color: #1236c7;font-weight: 700;letter-spacing: 2px;font-size: 60px;}

h2{color: #1236c7;font-size: 30px;
	font-weight: bold;}

p{color: #000000;
	font-size: 18px;}

a {text-decoration: none;
	font-family: 'Lato', sans-serif;font-weight: 600;
	color: #13aaeb;font-size: 20px;}

a:hover {color: #ed1515;}

ul{color: #13aaeb;}

div{
	background: white; margin: 10px;}


.container{
	width: 700px; margin: 40px auto;}

.img-circle{border-radius: 50%;}

.card-white{background-color: white;
	box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
	margin: 20px 0px; padding: 40px;
	border-radius: 4px; text-align: center;}

.list-inline{list-style: none;
	padding-left: 0px;}

.list-inline li{display: inline;
				padding: 10px;}

.list-inline i:hover{font-size: 60px; color: black;}

.btn-blue{background-color: #1236c7;
	color: white;padding: 10px 15px;
	border-radius: 4px;}

.btn-blue:hover{background-color: #ed1515;
	color: white;}

#introduction p {margin-bottom: 40px;}


@media (max-width: 760px)
{
.container{width: 500px;}
}

@media (max-width: 600px)
{
.container{width: 400px;}
}